parameters:
    level: 4
    bootstrapFiles:
        - DummyApp/autoload.php
    paths:
        - src
    isUseStrictTypesForNewClassesRuleActive: true
    isClassConstantsMustHaveVisibilityRuleActive: true
    isUseTypedReturnForNewMethodsRuleActive: true
    isUseTypeHintForNewMethodsRuleActive: true

includes:
    - ../../extension.neon

services:
  strictTypesForNewClassesRuleConfigurationFileLoader:
    class: PHPStanForPrestaShop\PHPConfigurationLoader\PHPConfigurationFileLoader
    arguments:
      - 'tests/Acceptance/Config/strict-types-for-new-classes-rule-exclusion-list.php'

  returnTypesForNewMethodsRuleConfigurationFileLoader:
    class: PHPStanForPrestaShop\PHPConfigurationLoader\PHPConfigurationFileLoader
    arguments:
      - tests/Acceptance/Config/return-types-for-new-class-methods-rule-exclusion-list.php

  typeHintsForNewMethodsRuleConfigurationFileLoader:
    class: PHPStanForPrestaShop\PHPConfigurationLoader\PHPConfigurationFileLoader
    arguments:
      - tests/Acceptance/Config/type-hint-for-new-class-methods-rule-exclusion-list.php
